.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  align-items: start;
  padding: 10px;
  min-height: 600px;
  background-image: url("../../img/beautiful.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
